.StaffListPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filters {
    background: var(--accent-color);
}

.list {
    overflow: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;

        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .container {
        width: 680px;
        padding: 20px 0;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1000px;
        padding: 20px 0;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1584px;
        padding: 20px 0;
    }
}