.StaffListPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filters {
    background: var(--accent-color);
}

.list {
    overflow: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;

        grid-template-columns: 1fr;
    }

    .inputsContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-row-gap: 8px;
    }

    .filters {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .selects {
        grid-row: 3;
        display: flex;
        flex-direction: row;
        gap: 8px;
        width: 100%;
    }

    .search {
        grid-row: 2;
    }


    .title {
        width: 100%;
        grid-row: 1;

        & p {
            font: var(--font-xl) !important;
            font-weight: 700 !important;
        }
    }
}

@media (min-width: 768px) {
    .container {
        width: 680px;
        padding: 20px 0;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1000px;
        padding: 20px 0;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1584px;
        padding: 20px 0;
    }
}