.app_dark_theme {
    --bg-color: #292929;
    --font-color-primary: #F5F5F5;
    --font-color-secondary: #B0B0B0;
    --font-color-inverted: #FFFFFF;
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    --accent-color: #3E3E3E;
    --button-color: #155DA4;
    --border-color: #F2F2F2;
}