:root {
    --bg-color: #FFFFFF;
    --font-color-primary: #292929;
    --font-color-secondary: #B0B0B0;
    --font-color-inverted: #FFFFFF;
    --shadow: 0px 4px 8px 0px rgba(57, 113, 164, 0.25);
    --accent-color: #F2F2F2;
    --button-color: #155DA4;
    --border-color: #F2F2F2;
    --tab-color: #F2F2F2;
}