.Page {
    display: flex;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height) - var(--bread-crumbs-height));
    overflow-y: auto;
}

@media (max-width: 768px) {
    .grid {
        width: 100%;
        padding: 15px;

        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .grid {
        width: 680px;
        padding: 20px 0;
    }
}

@media (min-width: 1280px) {
    .grid {
        width: 1000px;
        padding: 20px 0;
    }
}

@media (min-width: 1600px) {
    .grid {
        width: 1584px;
        padding: 20px 0;
    }
}

.center {
    justify-content: center;
}

.trigger {
    height: 20px;
    margin: 10px;
}
