.Breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--bread-crumbs-height);
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px 24px;
        gap: 12px;
    }

    .crumb div p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (min-width: 769px) {
    .container {
        width: 700px;
        padding: 20px 0;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1024px;
        padding: 20px 0;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1560px;
        padding: 20px 0;
    }
}
