.Breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--bread-crumbs-height);
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    width: 80%;
    align-items: center;
}
