.Breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--bread-crumbs-height);
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    width: 80%;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px 24px 10px 24px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 680px;
        padding: 0 50px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1000px;
        padding: 0 120px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1584px;
        padding: 0 180px;
    }
}