.StuffListItem {
    min-width: 100%;
    display: grid;
    grid-template-columns: 800px 402px 246px 100px;
    grid-auto-flow: column;
    border-bottom: 1px solid var(--border-color);
    padding: 28px 12px 28px 12px;

    &:hover {
        cursor: pointer;
        background: var(--accent-color);
    }
}

.header {
    pointer-events: none;
}

.item {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: start;
}