.Crumb {
    display: flex;
    flex-direction: row;
    width: min-content;
    align-items: center;
    color: var(--font-color-secondary);

    .text {
        p {
            white-space: nowrap;
        }
    }

    &Link {
        display: flex;
        align-items: center;
        color: var(--font-color-secondary);
        cursor: pointer;

        &:hover {
            color: var(--font-color-primary);
        }
    }

    &Icon {
        &__arrow {
            margin: 0;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            width: auto;
        }
    }
}

@media (max-width: 768px) {
    .Crumb {
        gap: 12px;
    }
}

@media (min-width: 769px) {
    .Crumb {
        gap: 16px;
    }
}